*{
  --bg-clr: #eeeeeecf;
  color: black;
  font-family: monospace;
}
#app{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* Header Box */
.header-box{
  height: 120px;
  width: calc(100% - 20px);
  padding: 10px;
  background: white;
  color: white;
  display: flex;
}
.header-box .left,
.header-box .right{
  width: 50%;
  height: 100%;
}
.header-box .left-bot,
.header-box .left-bot .node-selection{
  display: flex;
}
.header-box .left-bot .node-selection{
  width: 50%;
  border: solid 1px lightgrey;
  border-radius: 5px;
  position: relative;
}
.header-box .left-bot .node-selection::before{
  content: '';
  width: 33.33%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #77889978;
}
.header-box .left-bot .node-selection p{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px;
  margin: 0;
  width: 33.33%;
  z-index: 1;
}

.header-box .left-bot .theme-toggle{
  margin-left: 10px;
  position: relative;
}
.header-box .left-bot .theme-toggle button{
  height: 30px;
  width: 60px;
}

/* Grid */
.grid{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border-top: solid 1px lightgrey;
  border-left: solid 1px lightgrey;
}

/* Nodes */
.node {
  position: relative;
  height: 19px;
  width: 19px;
  border-right: solid lightgrey 1px;
  border-bottom: solid lightgrey 1px;
  background: white;
}
.node::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: solid 1px transparent;
  pointer-events: none;
}
.node:hover::after{
  z-index: 2;
  top: -1px;
  left: -1px;
  border-color: lightgrey;
  background: inherit;
  scale: 1.2;
}
.node.start{
  background-position: center;
  background-size: cover;
  background-image: url('/pathfinding-visualizer/start.svg');
}
.node.end{
  background-position: center;
  background-size: cover;
  background-image: url('/pathfinding-visualizer/end.svg');
}
.node.path{
  background: #fea410 !important;
}
.node.wall{
  background: #0c3547;
}
.node:not(.start).checked.queued {
  background: green;
}
.node:not(.start).queued {
  background: blue;
}
